---

---

<section id="about" class="h-screen flex flex-col items-center justify-center">
  <p class="text-6xl max-[640px]:text-2xl">
    <span class="text-8xl font-bold max-[640px]:text-2xl">바</span>
    꿔쓰고<br class="hidden max-[640px]:block" />
    <span class="text-8xl font-bold ml-4 max-[640px]:text-2xl max-[640px]:ml-0"
      >나</span
    >
    눠쓰는<br class="hidden max-[640px]:block" />
    <span class="text-8xl font-bold ml-4 max-[640px]:text-2xl max-[640px]:ml-0"
      >나</span
    >
    만의<br class="hidden max-[640px]:block" />
    <span class="text-8xl font-bold ml-4 max-[640px]:text-2xl max-[640px]:ml-0"
      >창</span
    >
    <br class="hidden max-[640px]:block" />
    <span class="text-8xl font-bold ml-4 max-[640px]:text-2xl max-[640px]:ml-0"
      >고</span
    >
  </p>
  <div class="px-4">
    <p class="text-3xl mt-24 max-[640px]:text-[16px]">
      버려지는 물건에도 누군가의 취향이 담겨 있습니다.
    </p>
    <p class="text-3xl mt-4 max-[640px]:text-[16px]">
      <strong class="text-black">바나나창고는</strong>
      <span class="text-4xl text-[#EDB600] max-[640px]:text-[16px]"
        ><strong>'더 이상 필요 없지만</strong><br
          class="hidden max-[640px]:block"
        /></span
      >
      <span
        class="text-4xl text-[#EDB600] max-[640px]:text-[16px] max-[640px]:block max-[640px]:mt-4"
      >
        <strong>누군가에겐 꼭 필요한 것들'</strong><strong class="text-black">
          을 연결하는</strong
        ></span
      >
    </p>
    <p class="text-3xl mt-4 max-[640px]:text-[16px]">
      신개념 물물교환 플랫폼입니다.
    </p>
    <br />
  </div>
</section>
