---

---

<section id="about" class="h-screen flex flex-col items-center justify-center">
  <p class="text-6xl">
    <span class="text-8xl font-bold">바</span>
    꿔쓰고
    <span class="text-8xl font-bold ml-4">나</span>
    눠쓰는
    <span class="text-8xl font-bold ml-4">나</span>
    만의
    <span class="text-8xl font-bold ml-4">창고</span>
  </p>

  <p class="text-3xl mt-24">버려지는 물건에도 누군가의 취향이 담겨 있습니다.</p>
  <p class="text-3xl mt-4">
    바나나창고는
    <span class="text-4xl text-[#EDB600]"
      >'더 이상 필요 없지만 누군가에겐 꼭 필요한 것들'</span
    >
    을 연결하는
  </p>
  <p class="text-3xl mt-4">신개념 물물교환 플랫폼입니다.</p>
  <br />
</section>
