---

---

<section id="about" class="h-screen flex flex-col items-center justify-center">
  <p class="text-6xl max-[431px]:text-2xl">
    <span class="text-8xl font-bold max-[431px]:text-2xl">바</span>
    꿔쓰고<br class="hidden max-[431px]:block" />
    <span class="text-8xl font-bold ml-4 max-[431px]:text-2xl max-[431px]:ml-0"
      >나</span
    >
    눠쓰는<br class="hidden max-[431px]:block" />
    <span class="text-8xl font-bold ml-4 max-[431px]:text-2xl max-[431px]:ml-0"
      >나</span
    >
    만의<br class="hidden max-[431px]:block" />
    <span class="text-8xl font-bold ml-4 max-[431px]:text-2xl max-[431px]:ml-0"
      >창</span
    >
    <br class="hidden max-[431px]:block" />
    <span class="text-8xl font-bold ml-4 max-[431px]:text-2xl max-[431px]:ml-0"
      >고</span
    >
  </p>
  <div class="px-4">
    <p class="text-3xl mt-24 max-[431px]:text-[16px]">
      버려지는 물건에도 누군가의 취향이 담겨 있습니다.
    </p>
    <p class="text-3xl mt-4 max-[431px]:text-[16px]">
      바나나창고는
      <span class="text-4xl text-[#EDB600] max-[431px]:text-[16px]"
        >'더 이상 필요 없지만<br class="hidden max-[431px]:block" /></span
      >
      <span
        class="text-4xl text-[#EDB600] max-[431px]:text-[16px] max-[431px]:block max-[431px]:mt-4"
      >
        누군가에겐 꼭 필요한 것들' 을 연결하는</span
      >
      <!-- 을 연결하는 -->
    </p>
    <p class="text-3xl mt-4 max-[431px]:text-[16px]">
      신개념 물물교환 플랫폼입니다.
    </p>
    <br />
  </div>
</section>
