---

---

<section
  id="about"
  class="h-screen flex flex-col items-center justify-center bg-gray-100"
>
  <h2 class="text-4xl font-bold text-gray-900"></h2>
  <p class="text-5xl text-gray-600 mt-4 max-w-2xl text-center">
    나의 취향이 남의 취향이 된다.
  </p>
  <br />
  <p class="text-5xl text-gray-600 mt-4 max-w-2xl text-center">바나나 창고</p>
</section>
