---
import { Image } from "astro:assets";
import mainLogo from "../assets/mainLogo.svg";
import mainLogoW from "../assets/mainLogoW.svg";
---

<div class="bg-[#f8f8f8] justify-between px-8 py-8 border-t border-gray-200">
  <!-- 사업자 정보 -->
  <div class="flex flex-col">
    <div class="w-auto flex flex-row justify-between border-b-2 pb-2">
      <span>
        <strong class="text-4xl max-[640px]:text-2xl">바나나창고</strong>
      </span>
      <div class="flex flex-row gap-2">
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 fill-[gray] max-[640px]:w-6 max-[640px]:h-6"
            viewBox="0 0 512 512"
            ><path
              d="M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z"
            ></path><path
              d="M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z"
            ></path></svg
          >
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 fill-[gray] max-[640px]:w-6 max-[640px]:h-6"
            viewBox="0 0 512 512"
            ><path
              d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z"
              fill-rule="evenodd"></path></svg
          >
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="w-8 h-8 fill-[gray] max-[640px]:w-6 max-[640px]:h-6"
          >
            <path
              d="M12,2.772c-5.523,0-10,3.53-10,7.885,0,2.815,1.872,5.285,4.687,6.68-.153.528-.984,3.4-1.017,3.624,0,0-.02.169.09.234A.3.3,0,0,0,6,21.209c.315-.043,3.649-2.385,4.226-2.792A12.608,12.608,0,0,0,12,18.541c5.523,0,10-3.53,10-7.884S17.523,2.772,12,2.772ZM7.048,12.858a.578.578,0,0,1-1.154,0V9.431h-.9a.565.565,0,1,1,0-1.13H7.948a.565.565,0,1,1,0,1.13h-.9Zm4.849.464a.875.875,0,0,1-.367.079.472.472,0,0,1-.48-.254l-.286-.748H9.005l-.286.748a.472.472,0,0,1-.48.254.874.874,0,0,1-.366-.079c-.159-.074-.312-.275-.137-.819L9.116,8.87a.8.8,0,0,1,1.538,0L12.033,12.5C12.209,13.047,12.056,13.249,11.9,13.322Zm2.916,0H12.962a.542.542,0,0,1-.553-.529V8.878a.589.589,0,0,1,1.178,0v3.389h1.226a.529.529,0,1,1,0,1.058Zm4.292-.054a.566.566,0,0,1-.347.116.573.573,0,0,1-.461-.229l-1.353-1.793-.2.2v1.259a.577.577,0,0,1-1.154,0V8.878a.577.577,0,0,1,1.154,0v1.24l1.609-1.61a.448.448,0,0,1,.32-.128.584.584,0,0,1,.567.536.451.451,0,0,1-.127.351L17.8,10.582l1.42,1.881a.577.577,0,0,1-.113.808ZM9.885,9.74l.576,1.637H9.308Z"
            ></path>
          </svg>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 128"
            class="w-8 h-8 fill-[gray] max-[640px]:w-6 max-[640px]:h-6"
          >
            <path
              d="M126 128H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h124a2 2 0 0 1 2 2v124a2 2 0 0 1-2 2ZM4 124h120V4H4Z"
            ></path>
            <path
              d="M98 97H75a2 2 0 0 1-1.63-.84L55 70.27V95a2 2 0 0 1-2 2H30a2 2 0 0 1-2-2V33a2 2 0 0 1 2-2h23a2 2 0 0 1 1.63.84L73 57.73V33a2 2 0 0 1 2-2h23a2 2 0 0 1 2 2v62a2 2 0 0 1-2 2Zm-22-4h20V35H77v29a2 2 0 0 1-3.63 1.16L52 35H32v58h19V64a2 2 0 0 1 3.63-1.16Z"
            ></path>
          </svg>
        </a>
        <a href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-8 h-8 fill-[gray] max-[640px]:w-6 max-[640px]:h-6"
            viewBox="0 0 512 512"
            ><path
              d="M508.64 148.79c0-45-33.1-81.2-74-81.2C379.24 65 322.74 64 265 64h-18c-57.6 0-114.2 1-169.6 3.6C36.6 67.6 3.5 104 3.5 149 1 184.59-.06 220.19 0 255.79q-.15 53.4 3.4 106.9c0 45 33.1 81.5 73.9 81.5 58.2 2.7 117.9 3.9 178.6 3.8q91.2.3 178.6-3.8c40.9 0 74-36.5 74-81.5 2.4-35.7 3.5-71.3 3.4-107q.34-53.4-3.26-106.9zM207 353.89v-196.5l145 98.2z"
            ></path></svg
          >
        </a>
      </div>
    </div>
    <div class="flex flex-col max-[640px]:hidden">
      <span class="text-[13px] text-[#282828] my-[5px]"
        >몬스컴퍼니 | 대표번호: 031 - 689 - 3121</span
      >
      <span class="text-[13px] text-[#282828] mb-[5px]"
        >경기도 광주시 수레실길 147 1F</span
      >
      <span class="text-[13px] text-[#282828] mb-[5px]"
        >대표자: 박재균 사업자 등록번호: 311-36-00985 통신판매업:
        2022-성남분당C-0288</span
      >
      <span class="text-[13px] text-[#282828] mb-[5px]"
        >사업자등록번호 : 311-36-00985</span
      ><span></span>
    </div>
    <div class="hidden max-[640px]:flex max-[640px]:flex-col">
      <p class="text-[13px] text-[#282828] my-[5px]">몬스컴퍼니</p>
      <p class="text-[13px] text-[#282828] mb-[5px]">
        대표번호: 031 - 689 - 3121
      </p>
      <p class="text-[13px] text-[#282828] mb-[5px]">대표자: 박재균</p>
      <p class="text-[13px] text-[#282828] mb-[5px]">
        주소: 경기도 광주시 수레실길 147 1F
      </p>

      <p class="text-[13px] text-[#282828] mb-[5px]">
        사업자 등록번호: 311-36-00985
      </p>
      <p class="text-[13px] text-[#282828] mb-[5px]">
        통신판매업: 2022-성남분당C-0288
      </p>
    </div>
  </div>
  <!-- 채용 문의 -->
  <div class="flex flex-col"></div>
  <!-- SNS -->
</div>
