---
import ServiceCarousel from "./ServiceCarousel.jsx";
---

<section
  id="services"
  class="min-h-[calc(100vh)] flex flex-col items-center justify-center"
>
  <!-- React 기반 Swiper 컴포넌트 삽입 -->
  <ServiceCarousel client:load />
</section>
